<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ghostscript.NET" version="1.1.5" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.12.1.0" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1" targetFramework="net45" />
</packages>